body {
  overflow: hidden;
}
#wpwrap {
  height: 100%;
}

#wpcontent {
  min-height: 100%;
  height: 100%;
  padding-left: 0;
}

#wpbody {
  min-height: 100%;
  overflow: hidden;
  /*height: 100%;*/
}

#wpbody-content {
  min-height: 100%;
  height: 100%;
}

.modal {
  display: none;
}

.modal label {
  display: block;
  margin-bottom: 1rem;
}

.modal label input, .modal label textarea {
  display: block;
  width: 100%;
}
